body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #f5c207;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #f5c207;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fffdd0;
}

.section-title{
    font-family: Pacifico,cursive;
}

.section-title span{
    color: #f5c207;
}

#sobre-restaurante,
#cardapio{
    background-color: #fffdd0;
}

.text-colored {
    color: #f5c207;
}

.nav-cardapio .nav-link.active,
#contato button{
    background-color: #f5c207;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #f5c207;
}

.social li{
    list-style: none;
    display: inline;
}

.social li a {
    text-decoration: none;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }
}
